body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
  color: white;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 42px;
  font-weight: 300;
}
p {
  color: Gray;
  font-size: 21px;
}
.get_excursion {
color: Aquamarine;
}
.copyright {
  text-align: right;
}
